<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:iter="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" ></script>

    <div th:insert="~{navbar :: navbar}"></div>
    <div th:insert="~{display :: display}"></div>

    <div class="container">
        <div class="card-group">
            <tr th:each="model, iterStat: ${categories}" th:class="${iterStat.odd}? 'odd'">
                <div class="card">
                    <img th:src="|data:image/jpg;base64,${images[iterStat.index]}|" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${model.engName}"></h5>
                        <h5 class="card-title" th:text="${model.rusName}"></h5>
                        <p class="card-text"></p>
                        <p class="card-text" >Id: <span th:text="${model.id}"></span></p>
                    </div>
                </div>
            </tr>
        </div>
    </div>
</body>
</html>